*{
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica", "Arial", sans-serif;
}
:root{
    --light-grey: rgb(238, 238, 238);
    --filter-white: invert(100%) sepia(0%) saturate(7451%) hue-rotate(48deg) brightness(100%) contrast(93%);
    --hover-white: brightness(80%) invert(25%) hue-rotate(2deg) saturate(80%);
    --card-shadow:  rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

body{
    z-index: 1;
    text-align: center;
    display: grid;
    grid-template-columns: 250px 5fr;
    height: 100vh;
    width: 100vw;
}
header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  background-color: var(--light-grey);
}

.buttonwrapper{
  display: flex;
  grid-column: 1 / 3;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 15px;
}
header button{
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
  border: 1px;
  font-size: 16px;
  box-shadow: var(--card-shadow);
}
#myprojects{
    display: flex;
    grid-column: 1 / 3;
    flex-direction: column;
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    height: 100%;
    color: rgb(54, 69, 79);
    align-items: self-start;
}
.projectwrapper{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    align-items: center;
    display: flex;
    padding: 3px;
    justify-content: left;
    gap: 10px;
    padding-left: 20px;
}
#content{
    display: none;
}
#content.visible{
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.96;
}
.todoform{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    flex-direction: column;
    color: white;
    z-index: 2;
    background-color: rgba(89, 25, 150, 0.925);
    border: white 2px solid;
    width: 500px;
    height: 500px;
    border-radius: 40px;
    padding: 10px;
    font-size: 16px;
}
.form-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.form-row input[type='text'],
.form-row input[type='email']{
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}
.form-row input[type='date'],
.form-row select{
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 80%;
  padding: 7px;
  font-size: 14px;
}
.todoform div:first-child{
  grid-column: 1 / 3;
  grid-template-rows: 1 / 2;
}

.todoform div:nth-child(2){
  grid-column: 1 / 3;
  grid-template-rows: 2 / 3;
}
.todoform div:nth-child(3){
  grid-column: 1 / 2;
  grid-template-rows: 3 / 4;
}
.todoform div:nth-child(4){
  grid-column: 2 / 3;
  grid-template-rows: 3 / 4;
}
.todoform div:nth-child(5){
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
  grid-template-rows: 3 / 4;
}


.form-row textarea {
  font-size: 14px;

  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}

#todos{
    padding-left: 20%;
    padding-right: 20%;
}

.todocard{
    display: grid;
    grid-template-columns: 50px 5fr;
    justify-items: start;
    align-items: center;
    padding: 0px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.548);
}

.checkboxcontainer input {
    border-radius: 25px;
    display: flex;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.checkboxcontainer{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    padding-left: 10px;
    padding-bottom: 5px;
}
.informationcontainer{
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
}

.informationcontainer div:first-child{
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}
.informationcontainer p:nth-child(2),
.informationcontainer div:nth-child(3){
    color: grey;
    font-size: 14px;
    padding-bottom: 3px;
}
.checkmark {
    display: flex;
    height: 25px;
    width: 25px;
    background-color: #eee;
    justify-content: space-evenly;
    border-radius: 25px;
  }
  .todocard.low .checkmark{
    border: solid 1px green; 
    background-color: rgba(1, 252, 1, 0.377)
  }
  .todocard.medium .checkmark{
    border: solid 1px orange;
    background-color: rgba(255, 166, 0, 0.37)
  }
  .todocard.high .checkmark{
    border: solid 1px red;
    background-color: rgba(255, 0, 0, 0.363);
  }
  
  /* On mouse-over, add a grey background color */
  .checkboxcontainer:hover input ~ .checkmark {
    background-color: #fffefe;
  }
  
  /* When the checkbox is checked, add a blue background */
  .todocard.low .checkboxcontainer input:checked ~ .checkmark {
    background-color: green
  }
  
  .todocard.medium .checkboxcontainer input:checked ~ .checkmark {
    background-color: orange
  }

  .todocard.high .checkboxcontainer input:checked ~ .checkmark {
    background-color: red
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkboxcontainer input:checked ~ .checkmark:after {
    display: flex;
    align-self: center;
    justify-content: center;
    justify-self: center;
  }
  
  /* Style the checkmark/indicator */
  .checkboxcontainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }